@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* inter var - latin */
	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 100 900;
		font-display: optional;
		src: url('/public/fonts/inter-var-latin.woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: 80px;
	}

	img {
		width: 100%;
		object-fit: contain;
	}

	/* #region  /**=========== Default Typography =========== */
	h1,
	.h1 {
		@apply font-primary text-2xl font-bold md:text-4xl;
	}

	h2,
	.h2 {
		@apply font-primary text-xl font-bold md:text-3xl;
	}

	h3,
	.h3 {
		@apply font-primary text-lg font-bold md:text-2xl;
	}

	h4,
	.h4 {
		@apply font-primary text-base font-bold md:text-lg;
	}

	body {
		@apply font-primary text-sm md:text-base;
		background-color: #f4f4f4;
	}
	/* #endregion  /**======== Default Typography =========== */

	.layout {
		max-width: 1300px;
		@apply mx-auto w-11/12;
	}
}

@layer components {
	.sideDrawer {
		@apply fixed top-0 left-0 z-30 flex h-screen w-8/12 flex-col justify-center bg-white transition-transform duration-300;
	}
}

@layer utilities {
	.cartItem {
		width: 100%;
		padding: 1rem;
		display: grid;
		grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
		gap: 8px;
		background: #fff;
		border-radius: 2px;
		place-items: center;
		margin-bottom: 8px;
	}
}
